<%-include('../Admin/partials/head')%>

<section class="login_bg py-3">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-5">
              <form action="" class="card form_style py-5 rounded-5">
                  <div class="login_forms mx-auto">
                      <div class="text-center">
                          <img src="./../assets/images/logo.png" alt="" style="width:120px">
                          <h2 class="text-center card-title text-dark mt-3 fw-bold fs_24">Admin Pannel</h2>
                                                   <p class="text-center fs-18">The page you are looking for could not be found.</p>
                      </div>
                      <p class="text-center text-danger fw-bold" style="font-size: 80px; width: 120%; height: 150px; line-height: 150px;">ERROR 404</p>
                     <p></p><br><br>
                      <div class="">
                        <a href="/login" class="btn_theme btn_empty w-100 rounded-pill fs_20 ps-4 pe-2  d-flex justify-content-between align-items-center">Go to Login Page
                            <i class="ph-light ph-caret-right fs_30"></i>
                        </a>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-md-5 offset-md-2">
              <div class="login_headings text-white text-center">
                  <h2 class="mb-5 fs_50 text-uppercase" style="font-weight: 900;">
                      <span>G</span>row
                      <span>Y</span>our <br>
                      <span>B</span>usiness
                      <span>w</span>ith
                      <span>U</span>S
                  </h2>
              </div>
          </div>
      </div>
  </div>
</section>
<%-include('../Admin/partials/script')%>
