<div class="right_contant">
    <div class="page_head">
        <h2 class="page_title">Notifications</h2>
    </div>
    <div class="dark_card card_height">
        <div class="notify_radio mb-4">
            <input type="radio" class="visually-hidden" name="notrad" id="notiradio01" checked>
            <label for="notiradio01"><i class="ph-fill ph-circle"></i> <span>Read</span></label>
            <input type="radio" class="visually-hidden" name="notrad" id="notiradio02">
            <label for="notiradio02"><i class="ph-fill ph-circle"></i> <span>Unread</span></label>
        </div>
        
        <div class="notificat_box mb-3">
            <h5>Lorem Ipsum </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="notificat_box mb-3">
            <h5>Lorem Ipsum </h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ad natus eligendi id aliquam nihil eius suscipit similique quibusdam possimus, voluptate ea doloremque molestiae labore magni corporis, ipsum quos esse pariatur officiis necessitatibus. Unde quidem veniam illum cum autem eum itaque tempore, saepe, reprehenderit iure quibusdam cumque repellendus officiis maiores?</p>
        </div>
        <div class="notificat_box mb-3">
            <h5>Lorem Ipsum </h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="notificat_box mb-3">
            <h5>Lorem Ipsum </h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ad natus eligendi id aliquam nihil eius suscipit similique quibusdam possimus, voluptate ea doloremque molestiae labore magni corporis, ipsum quos esse pariatur officiis necessitatibus. Unde quidem veniam illum cum autem eum itaque tempore, saepe, reprehenderit iure quibusdam cumque repellendus officiis maiores?</p>
        </div>

    </div>
</div>